
/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: rgb(0, 0, 0);
    color: rgb(83, 201, 32);
}

p {
    text-align: justify;
}

/* Header */
header {
    background-color: rgb(0, 0, 0);
    min-height: 6vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    overflow-x: auto;
    padding: 0;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    list-style: none;
    height: 6vh;
    margin: 0;
    padding: 0;
}

header li {
    height: 100%;
    display: flex;
    align-items: stretch;
}

header a {
    text-decoration: none;
    color: rgb(83, 201, 32);
    font-weight: bold;
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    
}

header a:hover {
    background-color: rgb(70, 70, 70);
    height: 100%;
}

header a:visited {
    color: rgb(83, 201, 32);
}

@media (max-width: 768px) {
    header nav {
        width: 100vw;
    }

    header ul {
        align-items: center;
        height: fit-content;
    }

    header a {
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
    }
}

/* Hero Page */
.heroPage-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.heroPage-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/matrix-code.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; 
}

.heroPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.heroPage h1 {
    font-size: 8rem;
    color: white;
    margin: 0;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
}

@media (max-width: 600px) {
    .heroPage h1 {
        font-size: 4rem;
        -webkit-text-stroke-width: 2px;
        overflow: auto;
        margin: 3rem 0;
        text-align: center;
    }
}

/* About me */
.aboutMe {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.aboutMe__text p {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 1.5rem 10rem;
}

.aboutMe__img {
    max-height: 80vh;
    height: auto;
    max-width: 50vw;
    margin-right: 10rem;
}

@media (max-width: 600px) {
    .aboutMe {
        flex-direction: column-reverse;
    }

    .aboutMe__text p {
        font-size: 0.8rem;
        margin: 0.5rem;
    }

    .aboutMe__img {
        margin: 0 0 -2rem;
    }
}

/* Projects */
.projects {
    width: 100%;
}

.projects h1 {
    font-size: 4rem;
    text-align: center;
    padding: 4rem 0;
}

.project--odd {
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 2rem 3rem;
    margin: 2vh 5vw;
    border: solid rgb(80, 238, 11) 5px;
    border-radius: 20px;
    align-items: center;
}

.project--even {
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 2rem 3rem;
    margin: 2vh 5vw;
    border: solid rgb(80, 238, 11) 5px;
    border-radius: 20px;
    align-items: center;
}


.project__info--left {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: bold;
    padding-right: 3rem;
}

.project__info--left a {
    text-decoration: none;
    color: white;
}

.project__info--left a:hover {
    color: rgb(80, 238, 11);
}

.project__info--left a:active {
    color: white;
}

.project__info--left h3 {
    margin-bottom: 0.5rem;
}

.project__info--right {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 4rem;
}

.project__info--right a {
    text-decoration: none;
    color: white;
}

.project__info--right a:hover {
    color: rgb(80, 238, 11);
}

.project__info--right a:active {
    color: white;
}

.project__info--right h3 {
    margin-bottom: 0.5rem;
}

.techImg img {
    max-height: 3rem;
    width: auto;
}

.project__img--right {
    max-width: 50%;
    height: auto;
    max-height: 50vh;
    align-self: center;
    transition: transform 0.3s ease, width 0.3s ease, z-index 0.3s ease;
}

.project__img--right:hover {
    transform: translate(-50%, 0) scale(1.5);
    width: 65vw;
    left: 50%;
    z-index: 5;
}

.project__img--left {
    max-width: 50%;
    height: auto;
    max-height: 50vh;
    align-self: center;
    transition: transform 0.3s ease, width 0.3s ease, z-index 0.3s ease;
}

.project__img--left:hover {
    transform: translate(50%, 0) scale(1.5);
    width: 65vw;
    left: 50%;
    z-index: 5;
}

@media (max-width: 600px) {

    .projects h1 {
        font-size: 3rem;
        text-align: center;
        padding: 4rem 0 2rem;
    }

    .project--odd {
        flex-direction: column;
        padding: 1rem 1rem;
        margin: 2vh 5vw;
    }

    .project--even {
        flex-direction: column-reverse;
        padding: 1rem 1rem;
        margin: 2vh 5vw;
    }

    .project__info--left {
        font-size: 1rem;
        padding-right: 0;
    }

    .project__info--right {
        font-size: 1rem;
        padding-left: 0;
    }

    .project__img--right {
        max-width: 86vw;
        transition: none;
    }

    .project__img--right:hover {
        transform: none;
        width: 86vw;
    }

    .project__img--left {
        max-width: 86vw;
        transition: none;
    }
    .project__img--left:hover {
        transform: none;
        width: 86vw;
    }
}

/* Contact */
.contact-container {
    min-height: 100%;
    padding: 10vh 10vw;
}

.contact {
    height: fit-content;
    margin: 0 5vw;
    border: solid rgb(80, 238, 11) 5px;
    border-radius: 20px;
}

.contact h1 {
    font-size: 4rem;
    text-align: center;
    padding: 7vh 0 0;
    margin-bottom: 5vh;
}

i {
    color: white;
    font-size: 3rem;
}

.contact__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem;
}

.contact__phone i {
    margin: 1rem;
}

.contact__email {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem;

}

.contact__email i {
    margin: 1rem;
}

.contact__links {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.contact__links img {
    height: 10vh;
    margin: 2rem;
}

@media (max-width: 600px) { 
    .contact-container {
        min-height: 100%;
        padding: 10vh 3vw 5vh;
    }

    .contact {
        margin: 0;
    }

    .contact h1 {
        font-size: 3rem;
    }

    .contact__phone {
        flex-direction: column;
        font-size: 1.5rem;
        margin: 0;
    }

    .contact__phone i {
        font-size: 2rem;
    }

    .contact__email {
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        font-weight: bold;

    }
    
    .contact__email i {
        font-size: 2rem;
    }

    .contact__links img {
        height: 15vh;
    }
}

/* Footer */
footer {
    height: 6vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: rgb(83, 201, 32);
    font-weight: bold;
    font-size: 2rem;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1.5rem;
}

footer a:hover {
    background-color: rgb(70, 70, 70);
    height: 100%;
}

footer a:visited {
    color: rgb(83, 201, 32);
}